---
// BlogPost.astro
interface BlogPostProps {
  title: string;
  url: string;
  description: string;
  customClass: string;
  author: string;
  pubDate?: string; // opcjonalna data publikacji
}

const { url, title, description, pubDate } = Astro.props as BlogPostProps;
---

<article class="blog-post">
  <h2>
    <a href={url} class="post-title">{title}</a>
  </h2>
  {pubDate && <p class="post-date">{pubDate}</p>}
  <p class="post-description">{description}</p>
</article>

<style>
  .article-box {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .article-box:hover {
    border: 1px dashed white;
  }

  .article-box > p {
    border: none;
    padding: 0;
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  .blog-list-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .blog-list-title > p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
</style>
