---
import Navigation from "./Navigation.astro";
import LogoDarkMode from "../../public/assets/logo/LogoDarkMode.svg";
---

<header>
  <div class="header-logo">
    <a href="/home">
      <img src={LogoDarkMode.src} alt="" />
    </a>
  </div>
  <Navigation />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
    padding: 2rem 1.5rem;

  }
  .header-logo img {
    width: 250px;
  }
</style>
