---
import BlogPost from "./BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");

const lastThreeArticles = allPosts.slice(-3);
---

<section class="latest-articles">
  <p>Ostatnie posty:</p>
  <div class="articles-wrapper">
    {
      lastThreeArticles.map((post) => (
        <BlogPost customClass="article-box" url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />
      ))
    }
  </div>
</section>

<style>
  .latest-articles {
    margin-top: 5rem;
    color: white;
  }

  .articles-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem; 
  }



  </style>
