---

---

<nav class="nav-links">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">O mnie</a>
    </li>
  </ul>
</nav>

<style>
  .nav-links ul {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    list-style-type: none;
    color: #fff;
  }
</style>
